.about-body {
    background: whitesmoke;
    padding-top: 50px;
}
.about-bg {
    display: flex;
    justify-content: space-between;
    width: 55%;
    background-color: white;
    margin: auto auto auto 100px;
    border-radius: 10px;
    color: #183863;
    box-shadow: rgba(65, 228, 223, 0.07) 0px 1px 1px, rgba(20, 203, 172, 0.07) 0px 2px 2px, rgba(12, 115, 141, 0.07) 0px 4px 4px, rgba(15, 110, 116, 0.07) 0px 8px 8px, rgba(5, 67, 73, 0.07) 0px 16px 16px;
    padding: 10px 30px;
    line-height: 2.5rem;
}
.about-ceo {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 60px 100px auto auto;
    border-radius: 10px;
    color: #183863;
    box-shadow: rgba(65, 228, 223, 0.07) 0px 1px 1px, rgba(20, 203, 172, 0.07) 0px 2px 2px, rgba(12, 115, 141, 0.07) 0px 4px 4px, rgba(15, 110, 116, 0.07) 0px 8px 8px, rgba(5, 67, 73, 0.07) 0px 16px 16px;
    padding: 10px 30px;
    line-height: 2.5rem;
    margin-top: 50px;
    background: linear-gradient(236deg, rgba(45,58,87,1) 19%, rgba(45,58,87,1) 30%, rgba(45,58,87,1) 44%, rgba(24,39,71,1) 45%, rgba(255,255,255,1) 45%);
}
.about-bg h1 {
    border-bottom: 4px solid #f1c119;
    width: 25%;
}
.about-ceo h1 {
    border-bottom: 4px solid #f1c119;
    width: 40%;
}