body {
    background-image: url(../assets/banner.jpg);
}
.home-body {
    width: 60%;
    margin: auto;
}
.home-bg{
    display: flex;
    justify-content: space-between;
}
.home-text h1 {
    color: #183863;
    font-size:70px;
    font-family: Righteous, cursive ;
    font-weight: 500;
    margin: 7rem 0 0 0;
}
.home-text .trend {
    color: #ebc737;
    font-size:70px;
    font-weight: 600;
    margin: 7rem 0 0 0;
}
.text {
    font-size: 40px;
    font-weight: lighter;
}
.text span {
    color: #225b9d;
    font-weight: 800;
    font-style: oblique;
}
.collect {
    font-size: 25px;
}
.home-body button {
    background: #1d37fd;
    color: white;
    padding: 13px 15px;
    border: none;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    transform: translateZ(0);
    transition: all .5s ease-in-out; 
}
.home-body button:hover{
    background-color: #ebc737;
    color: black;
    transform: scale(1.05);
    cursor: pointer;
}