.nav {
    background-color: yellow;
    z-index: 4;
}
.my-nav {
    background-color: #ecf3fd;
    padding: 9px;
}
.my-nav2 {
    background-color: white;
    padding: 15px;
}
.first-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
}
.phone-icon {
    align-items: center;
    display: flex;
    gap: 10px;
}
.logo {
    display: flex;
    gap: 6px;
    align-items: center;
}
.select {
    display: flex;
    gap: 8px;
    align-items: center;
}
.select span {
    font-weight: 100;
}
#select-box {
    padding: 4px;
    width: 95px;
    border: 1px solid #848c9a;
    border-radius: 15px;
    background: transparent;
    outline: none;
}
.second-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: auto;
}
.mails {
    display: flex;
    align-items: center;
    gap: 8px;
}
.cart {
    display: flex;
    align-items: center;
    gap: 8px;
}
.cart button {
    padding: 5px;
    width: 100px;
    border: 1px solid #848c9a;
    border-radius: 15px;
    background: #183863;
    color: white;
    outline: none;
}
.cart button:hover {
    cursor: pointer;
}
.my-nav3 {
    background: #183863;
    /* padding: 15px; */
}
.third-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: auto;
}
.lists ul {
    display: flex;
    gap: 40px;
    align-items: center;
}
.lists li {
    background: transparent;
    padding: 15px 10px;
    margin: 0px;
    list-style: none;
    color: white;
    text-transform: uppercase;
    transform: translateZ(0);
    transition: all .5s ease-in-out; 
}
.lists ul :hover {
    background:#f1c119;
    color: black;
    transform: scale(1.03);
    cursor: pointer;
}
.glass {
    display: flex;
    align-items: center;
    background: white;
    border: 1px solid #848c9a;
    border-radius: 200px;
    padding: 7px;
}
.input {
    border: none;
    outline: none;
}
.nav-ham {
    display: none;
}
@media (max-width:1643px) {
    .third-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        margin: auto;
    }
    
}
@media (max-width:1643px) {
    .third-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
    }

}
@media (max-width:1302px) {
    .third-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    .glass {
        display: flex;
        align-items: center;
        background: white;
        border: 1px solid #848c9a;
        border-radius: 200px;
        width: 30%;
        margin: auto;
    }
    .input {
        width: 85%;
    }
    .second-nav-txt {
        font-size: xx-small;
    }
}
@media (max-width:1024px) {
    .glass {
        display: flex;
        align-items: center;
        background: white;
        border: 1px solid #848c9a;
        border-radius: 200px;
        width: 25%;
        margin: auto;
    }
    .input {
        width: 80%;
    }
    .lists li {
        background: transparent;
        padding: 10px 10px;
        margin: 0px;
        list-style: none;
        color: white;
        text-transform: uppercase;
        transform: translateZ(0);
        transition: all .5s ease-in-out; 
    }
    .lists ul {
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .second-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
        margin: auto;
    }
    .first-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 65%;
        margin: auto;
    }
}
@media (max-width:890px) {
    .glass {
        display: flex;
        align-items: center;
        background: white;
        border: 1px solid #848c9a;
        border-radius: 200px;
        width: 25%;
        margin: auto;
    }
    .input {
        width: 80%;
    }
    .lists li {
        background: transparent;
        padding: 10px 10px;
        margin: 0px;
        list-style: none;
        color: white;
        text-transform: uppercase;
        transform: translateZ(0);
        transition: all .5s ease-in-out; 
    }
    .lists ul {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .second-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        margin: auto;
    }
    .first-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 75%;
        margin: auto;
    }
}
@media (max-width:800px) {
    .glass {
        display: flex;
        align-items: center;
        background: white;
        border: 1px solid #848c9a;
        border-radius: 200px;
        width: 25%;
        margin: auto;
    }
    .input {
        width: 70%;
    }
    .lists li {
        background: transparent;
        padding: 10px 10px;
        margin: 0px;
        font-size: small;
        list-style: none;
        color: white;
        text-transform: uppercase;
        transform: translateZ(0);
        transition: all .5s ease-in-out; 
    }
    .lists ul {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .second-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;
        margin: auto;
    }
    .first-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 85%;
        margin: auto;
    }
}
@media (max-width:670px) {
    .glass {
        display: flex;
        align-items: center;
        background: white;
        border: 1px solid #848c9a;
        border-radius: 200px;
        width: 25%;
        margin: auto;
    }
    .input {
        width: 70%;
    }
    .lists li {
        background: transparent;
        padding: 10px 10px;
        margin: 0px;
        list-style: none;
        font-size: x-small;
        color: white;
        text-transform: uppercase;
        transform: translateZ(0);
        transition: all .5s ease-in-out; 
    }
    .lists ul {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .second-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    .first-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: auto;
    }
}
@media (max-width:500px) {
    .third-bar{
        display: none;
    }
    .nav-ham {
        display: block;
        padding: 20px;
    }
    .mails a{
        font-size: x-small;
    }
    .phone-icon a{
        font-size: x-small;
    }
    .select {
        gap: 20px;
    }
    .select span {
        font-size: small;
    }
    #select-box {
        padding: 2px;
        width: 75px;
        border: 1px solid #848c9a;
        border-radius: 15px;
        background: transparent;
        outline: none;
    }
    .glass {
        display: flex;
        align-items: center;
        background: white;
        border: 1px solid #848c9a;
        border-radius: 200px;
        width: 25%;
        margin: auto;
    }
    .input {
        width: 70%;
    }
    .lists li {
        background: transparent;
        padding: 10px 10px;
        margin: 0px;
        list-style: none;
        font-size: x-small;
        color: white;
        text-transform: uppercase;
        transform: translateZ(0);
        transition: all .5s ease-in-out; 
    }
    .lists ul {
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .second-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    .first-bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    .logo a{
        display: flex;
        gap: 6px;
        width: 14px;
        height: 14px;
        align-items: center;
    }
}
@media (max-width:425px) {
    .first-bar {
        gap: 10px;
    }
    .my-nav a{
        font-size: 8px;
    }
    .my-nav span {
        font-size: 8px;
    }
    .logo {
        display: none;
    }
    #select-box {
        padding: 0;
    }
    .second-bar{
        gap: 20px;
    }
    .second-bar a{
        font-size: 8px;
    }
    .second-bar h2{
        font-size: xx-small;
    }
    .second-bar button{
        padding: 0;
    }
    .second-nav-txt h2 {
        font-size: 9px;
    }
}
