@media screen and (max-width:600px){

    .res-inp{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: 130px;
        /* left: -5px; */
        cursor: pointer;
        opacity: 0;
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }
    .ham-span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        background: 0.5s cubic-bezier(0.77,0.2,0.05,1.0); opacity: 0.55s ease;
    }

    .ham-span:first-child{
        transform-origin: 0% 0%;
    }

    .ham-span:nth-last-child(2){
        transform-origin: 0% 100%;
    }

    .res-inp:checked ~ .ham-span{
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: white;
    }
    .res-inp:checked ~ .ham-span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    .res-inp:checked ~ .ham-span:nth-last-child(2){
        transform: rotate(-45deg) translate(0, -1px);
    }
 
    .hamburger{
        
        position: absolute;
        width: 100px;
        margin: 18px 0 0 -100px;
        padding: 10px 250px;
        color: black;
        /* padding-top: 100px; */
        background: #283c61f8;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    .hamburger a{
        text-decoration: none;
    }

    .hamburger li{
        padding: 5px 0;
        font-size: 15px;
        color: white;
    }
    .hamburger li:hover{
        color:#ab7e5f;
    }
    .res-inp:checked ~ .hamburger{
        transform: none;
    }
}
/* @media (max-width:425px) {
    .ham-span{
        display: block;
        width: 25px;
        height: 3px;
        margin-right: 20px;
        margin-bottom: 5px;
        position: relative;
        background: #fff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        background: 0.5s cubic-bezier(0.77,0.2,0.05,1.0); opacity: 0.55s ease;
    }
} */